<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h2>Histories</h2>
        </div>
        <div class="container">
            <table width="100%">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Order Number</td>
                        <td>Table</td>
                        <td>Prices</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn3">OK</button>
    </div>
</body>
</html>