<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drink</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="drink.css">
        <style>
                .menu:hover {
                        background-color: rgb(152, 152, 228);
                        border-radius: 15px;
                }

                .menu {
                        margin: 5px;
                }

                .box:hover {
                        background-color: grey;
                }
        </style>
</head>

<body class="overflow-auto">
        <div class="w-full h-screen lg:w-screen xl:w-screen border border-black ">

                <div class="grid grid-cols-3 bg-blue-100 ">
                        <div class="flex items-center ">
                                <img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-logo-design-creative-idea-logo-elements-2.png"
                                        width="10%" alt="cafe" class="object-center md:w-28">
                                <h1 class="  text-4xl ">Cafe</h1>
                        </div>
                        <div class="flex items-center">
                                <button class="box border w-20 mr-5 rounded-lg">Home</button>
                                <button class="box border w-20 mr-5 rounded-lg">Order</button>
                                <button class="box border w-20 mr-5 rounded-lg">Table</button>
                                <button class="box border w-20 mr-5 rounded-lg">History</button>
                        </div>
                        <div class="flex items-center justify-end  ">
                                <div class="dropdown ">
                                        <button class="dropbtn flex rounded-full">
                                                <img src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"
                                                        width="30%" alt="profile" class="pr-3 ">
                                                <h1>Leorio</h1>
                                                <div class="flex items-center py-1 ">
                                                        <svg class="fill-current h-4 w-5"
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                                <path
                                                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                                        </svg>
                                                </div>
                                        </button>
                                        <div class="dropdown-content">
                                                <a href="#">About</a>
                                                <a href="#">
                                                        <div class="flex ">

                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15%"
                                                                        fill="none" viewBox="0 0 24 24"
                                                                        strokeWidth={1.5} stroke="currentColor"
                                                                        className="w-6 h-6">
                                                                        <path strokeLinecap="round"
                                                                                strokeLinejoin="round"
                                                                                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                                                                </svg> Log out
                                                        </div>
                                                </a>
                                        </div>
                                </div>
                        </div>

                </div>
                <div class="grid grid-cols-2  h-screen bg-gray-200">
                        <div class=" border-l border-r border-black h-screen">
                                <h1 class="font-semibold text-2xl text-center mt-5 border-b border-black p-4">
                                        Menu category</h1>
                                <div  class="flex whitespace-nowrap overflow-auto scrollbar-hide md:scrollbar-default ">
                                        <div class="mt-5  flex justify-around gap-3">
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'All')" >
                                                        <button class="">
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png"
                                                                                width="30%" alt="">
                                                                </div>
                                                                <a href="#All">All</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'Coffee')">
                                                        <button>
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png"
                                                                                width="30%" alt="">
                                                                </div>
                                                                <a href="#Coffee"> Coffee</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'Frappe')">
                                                        <button>
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn.icon-icons.com/icons2/3345/PNG/512/frappe_cup_glass_coffee_take_away_drink_icon_210123.png"
                                                                                width="35%" alt="">
                                                                </div>
                                                                <a href="#Frappe"> Frappes</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'Food')">
                                                        <button class="">
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/2771/2771401.png"
                                                                                width="30%" alt="">
                                                                </div>
                                                                <a href="#Food">Food</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16 "
                                                        id="tab" onclick="openpage(this,'Tea')">
                                                        <button class="">
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/3184/3184436.png"
                                                                                width="30%" alt="">
                                                                </div>
                                                                <a href="#Tea">Tea</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'Juice')">
                                                        <button class="">
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/4437/4437549.png"
                                                                                width="35%" alt="">
                                                                </div>
                                                                <a href="#Juice"> Juice</a>
                                                        </button>
                                                </div>
                                                <div class="menu p-2 border border-blue-500 rounded-[15px] w-24 h-16"
                                                        id="tab" onclick="openpage(this,'Dessert')">
                                                        <button class="">
                                                                <div class="flex justify-center items-center">
                                                                        <img src="https://cdn-icons-png.flaticon.com/512/4421/4421199.png"
                                                                                width="35%" alt="">
                                                                </div> <a href="#Dressert">Dessert</a>
                                                        </button>
                                                </div>
                                        </div>
                                </div>

                                <h1 class="font-semibold text-2xl pl-10 mt-5 border-b border-black m-5 p-5">
                                        Choose Order</h1>
                                <!-- all -->
                                <div class="tabcontent" id="All">
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://images.ctfassets.net/v601h1fyjgba/1vlXSpBbgUo9yLzh71tnOT/a1afdbe54a383d064576b5e628035f04/Iced_Americano.jpg"
                                                                        alt="iced" class="md:w-4/5 lg:w-3/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Iced Americano</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://valentinascorner.com/wp-content/uploads/2022/02/Iced-Caramel-Latte.jpg"
                                                                        alt="Latte" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Iced Latte</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://nationaltoday.com/wp-content/uploads/2020/10/Frappe.jpg"
                                                                        alt="iced" class="md:w-2/4 lg:w-2/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Coffee frappe</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.metmuseum.org/-/media/images/visit/food-drink/the-eatery-ground-floor.jpg?h=960&w=1440&sc_lang=en&hash=3112A4CF79610CDD18D24E997DB975A6"
                                                                        alt="burger" class="md:w-4/5 lg:w-3/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Ham Burger</h4>
                                                                <h5>$1.5</h5>
                                                        </div>
                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://img.taste.com.au/ayj6-EQq/taste/2016/11/creme-caramel-74779-1.jpeg"
                                                                        alt="caramel " width="60%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Caramel</h4>
                                                                <h5>$1</h5>
                                                        </div>
                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://simpleasthatblog.com/wp-content/uploads/2017/01/Strawberry-and-Coconut-Frappe.jpg"
                                                                        alt="Strawberry-and-Coconut-Frappe " width="40%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Strawberry Frappe</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                                <!-- coffee -->
                                <div class="tabcontent " id="Coffee" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://images.ctfassets.net/v601h1fyjgba/1vlXSpBbgUo9yLzh71tnOT/a1afdbe54a383d064576b5e628035f04/Iced_Americano.jpg"
                                                                        alt="iced" class="md:w-4/5 lg:w-3/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Iced Americano</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://valentinascorner.com/wp-content/uploads/2022/02/Iced-Caramel-Latte.jpg"
                                                                        alt="Latte" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Iced Latte</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://takestwoeggs.com/wp-content/uploads/2023/03/Matcha-Milk-Tea-Takestwoeggs-sq.jpg"
                                                                        alt="matcha " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Matcha Latte</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.foodandwine.com/thmb/V1OEgtLQGUv_w2Fvm40WMLsJ4rk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Indulgent-Hot-Chocolate-FT-RECIPE0223-fd36942ef266417ab40440374fc76a15.jpg"
                                                                        alt="matcha " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Hot coco</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.thespruceeats.com/thmb/HJrjMfXdLGHbgMhnM0fMkDx9XPQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/what-is-espresso-765702-hero-03_cropped-ffbc0c7cf45a46ff846843040c8f370c.jpg"
                                                                        alt="Espresso " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Espresso</h4>
                                                                <h5>$2</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_1:1/k%2FPhoto%2FRecipe%20Ramp%20Up%2F2022-07-Cappuccino%2FCappuccino"
                                                                        alt="cappuccino " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Cappuccino</h4>
                                                                <h5>$2.25</h5>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <!-- frappe -->
                                <div class="tabcontent " id="Frappe" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://nationaltoday.com/wp-content/uploads/2020/10/Frappe.jpg"
                                                                        alt="iced" class="md:w-4/5 lg:w-3/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Coffee frappe</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://quanta-egypt.com/wp-content/uploads/oreo_frappe.jpg"
                                                                        alt="oreo_frappe" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Oreo Frappe</h4>
                                                                <h5>$3</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://dontmesswithmama.com/wp-content/uploads/2013/03/paleo-mocha-frappe-7.jpg"
                                                                        alt="mocha frappe " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Mocha Frappe</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://simpleasthatblog.com/wp-content/uploads/2017/01/Strawberry-and-Coconut-Frappe.jpg"
                                                                        alt="Strawberry-and-Coconut-Frappe " width="40%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Strawberry Frappe</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                                <!-- food -->
                                <div class="tabcontent " id="Food" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.metmuseum.org/-/media/images/visit/food-drink/the-eatery-ground-floor.jpg?h=960&w=1440&sc_lang=en&hash=3112A4CF79610CDD18D24E997DB975A6"
                                                                        alt="burger" class="md:w-4/5 lg:w-3/4">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Ham Burger</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.aheadofthyme.com/wp-content/uploads/2020/04/10-minute-seafood-fried-rice-6.jpg"
                                                                        alt="fry-rice" width="70%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Seafood Fried Rice</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_16:9/k%2FPhoto%2FRecipes%2F05-2021_Garlic_fried_rice_Silog_sinangag%2Fk-photo-2021-05-garlic-fried-rice-02"
                                                                        alt="Pork Rice " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Pork Rice</h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://lilluna.com/wp-content/uploads/2018/05/easy-spaghetti-resize-3-500x375.jpg"
                                                                        alt="spaghetii " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Spaghetii</h4>
                                                                <h5>$2.7</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/9/12/1/FN_Picky-Eaters-Chicken-Nuggets_s4x3.jpg.rend.hgtvcom.616.462.suffix/1383770571120.jpeg"
                                                                        alt="chicken-nuggets " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Chicken Nuggets</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                               
                                        </div>
                                </div>
                                <!-- Juice -->
                                <div class="tabcontent " id="Juice" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.julieseatsandtreats.com/wp-content/uploads/2016/06/Pineapple-Fruit-Cocktail-drink-Julie.jpg"
                                                                        alt="pineapple" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Pineapple </h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.africanbites.com/wp-content/uploads/2021/08/IMG_4216.jpg"
                                                                        alt="passion" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Passion Soda </h4>
                                                                <h5>$2</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://cdn.loveandlemons.com/wp-content/uploads/2021/06/watermelon-juice-1.jpg"
                                                                        alt="watermelon " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Watermelon Soda</h4>
                                                                <h5>$1.7</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://greenletes.com/wp-content/uploads/2018/05/orange-juice-1024x1024.png"
                                                                        alt="orange-juice-1024x1024 " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Orange Juice</h4>
                                                                <h5>$1.5</h5>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <!-- Tea -->
                                <div class="tabcontent " id="Tea" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://images.squarespace-cdn.com/content/v1/5ec202822eec7a077891958a/1601341743820-Y7EU3VI4JO288UMXD809/%E4%B8%9C%E6%96%B9%E7%BE%8E%E4%BA%BA%EF%BC%88%E8%8C%B6%E5%8C%85%EF%BC%89.jpg?format=1000w"
                                                                        alt="olong tea" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Olong Tea </h4>
                                                                <h5>$1.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://takestwoeggs.com/wp-content/uploads/2022/04/Jasmine-Milk-Tea-Takestwoeggs-Final-Photography-3.jpg"
                                                                        alt="jasmine Milk tea" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Jasmine Milk tea </h4>
                                                                <h5>$2</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY65ZYeJEUKCBsNG4IlfMLwjiyDSgR5UzULQ&usqp=CAU"
                                                                        alt="Brown suger " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Brown Suger Milk Tea</h4>
                                                                <h5>$2.5</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://images.squarespace-cdn.com/content/v1/5d4d7cf702dd1800015ee57f/1607722717641-1AFBPE23R3UGX1V4G1YJ/Brown%2BSugar%2BBoba%2BMilk%2BTea.jpg"
                                                                        alt="Pearl milk tea " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Pearl Milk Tea</h4>
                                                                <h5>$2.25</h5>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <!-- Dessert -->
                                <div class="tabcontent " id="Dessert" hidden>
                                        <div class=" grid gap-x-5 gap-y-4  grid-cols-3  m-5 ">
                                                <div id="data"
                                                        class="relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48 ">

                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://www.southernliving.com/thmb/HFXfirNv58YxjV2uWi4Ima6rkD4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2665601_ErinN_0213-2000-7b88f1a2e1bd40bba7070fc01476cf3d.jpg"
                                                                        alt="chocolate" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>chocolate Delight</h4>
                                                                <h5>$2</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class="relative border border-black w-48 p-5  text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://img.sndimg.com/food/image/upload/q_92,fl_progressive,w_1200,c_scale/v1/img/recipes/29/19/9/hqWrjoTdRtPbKSb3rwWR_Oreo%20Pudding%202.jpg"
                                                                        alt="Oreo-Dirt-Pudding-24" width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Oreo Pudding </h4>
                                                                <h5>$2</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://joyfoodsunshine.com/wp-content/uploads/2020/06/homemade-chocolate-ice-cream-recipe-7.jpg"
                                                                        alt="ice cream " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Chocolate ice cream</h4>
                                                                <h5>$1.7</h5>
                                                        </div>

                                                </div>
                                                <div id="data"
                                                        class=" relative border border-black w-48 h-36 p-5 object-center text-center rounded-[20px] md:w-28 lg:w-36 xl:w-56 xl:h-48">
                                                        <div class=" flex justify-center items-center">
                                                                <img src="https://img.taste.com.au/ayj6-EQq/taste/2016/11/creme-caramel-74779-1.jpeg"
                                                                        alt="caramel " width="50%">
                                                        </div>
                                                        <div class="absolute inset-x-0 bottom-0">
                                                                <h4>Caramel</h4>
                                                                <h5>$1</h5>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="relative">
                                <h1 class="font-semibold text-2xl text-center mt-5 border-b border-black p-4">
                                        Order Information</h1>
                                <div class="w-full relative" id="display"> </div>
                                <div class="items-center w-full p-5 absolute inset-x-0 bottom-0  text-center">
                                        <div class="border-t border-black h-fit round-full p-3">
                                                <div class="flex gap-[360px]">
                                                        <div class="">Sub Total </div>
                                                        <div class="">$2.5</div>
                                                </div>
                                               
                                                <div class="flex gap-[360px]">
                                                        <h4>Discount </h4>
                                                        <h4>-$1</h4>
                                                </div>
                                        </div>
                                        <div class=" border-t border-black round-lg">
                                                <div class="flex gap-96 p-3">
                                                        <h4>Total</h4>
                                                        <h4>$2.5</h4>
                                                </div>
                                                
                                                <button class="w-48 shadow bg-sky-500 hover:bg-sky-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded-lg" >Check out</button>
                                        </div>
                                </div>
                        </div>
                       
                </div>
        </div>
        <script>
                function openpage(elmnt, pageName) {
                        var i, tabcontent, tab, right;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";

                        }
                        tab = document.getElementsByClassName("tab");
                        for (i = 0; i < tab.length; i++) {
                                tab[i].className = tab[i].className.replace("active");
                        }
                        document.getElementById(pageName).style.display = "block";
                        elmnt.currentTarget.className += "active";
                }
                // document.getElementById("tab").click();

                const buttons = document.querySelector('#data');
                const showData = document.querySelector('#display');

                buttons.addEventListener('click', () => {
                        if (showData.style.display === 'none') {
                                showData.style.display = 'block';
                                showData.innerHTML = ` 
                                <table class="w-full lg:w-full xl:w-full">
                                        <tbody>
                                                <tr class="">
                                                        <th scope="row" class="px-2 py-4 font-medium  ">
                                                                1
                                                        </th>
                                                        <td class="px-5 py-4 whitespace-nowrap">
                                                                DF001
                                                        </td>
                                                        <td class="px-6 py-4  whitespace-nowrap">
                                                                French Fries
                                                        </td>
                                                        <td class="px-6 py-4  whitespace-nowrap wrapper">
                                                               
                                                                <button class="plus">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                                        d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                                                                        </svg>
                                                                </button>
                                                                <button class="num">01</button>
                                                                <button class="minus ">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                                        d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                                                        </svg>

                                                                </button>
                                                        </td>
                                                        <td class="px-6 py-4  whitespace-nowrap">
                                                                1.5
                                                        </td>
                                                        <td class="px-6 py-4 flex">
                                                                <a href="#"
                                                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor"
                                                                                class="w-6 h-6">
                                                                                <path stroke-linecap="round"
                                                                                        stroke-linejoin="round"
                                                                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                                        </svg></a>
                                                                <a href="#"
                                                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor"
                                                                                class="w-6 h-6">
                                                                                <path stroke-linecap="round"
                                                                                        stroke-linejoin="round"
                                                                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                                        </svg></a>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                                `;
                        }
                        else {
                                showData.style.display = 'none';

                        }
                })
                var i = 0;
                function buttonClick() {
                        document.getElementById('inc').value = ++i;
                }

                const plus = document.querySelector(".plus"),
                        minus = document.querySelector(".minus"),
                        num = document.querySelector(".num");
                let a = 1;
                plus.addEventListener("click", () => {
                        a++;
                        a = (a < 10) ? "0" + a : a;
                        num.innerText = a;
                });

                minus.addEventListener("click", () => {
                        if (a > 1) {
                                a--;
                                a = (a < 10) ? "0" + a : a;
                                num.innerText = a;
                        }
                });
        </script>
</body>

</html>